*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 40px 5% 40px 5%;
    background-color: rgb(34, 0, 79);
}

h1,h2,h3,p,input,button,textarea,label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
}

.title{
    text-align: center;
    margin-bottom: 50px;
}

.container{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    .chat{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        img{
            width: 30%;
        }
        .date{
            font-size: 12px;
        }
    }
    .leave-comment{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .show-name{
            .question{
                padding-bottom: 10px;
            }
            .check-description{
                padding-right: 5px;
            }
            .check{
                appearance:none;
                width: 15px;
                height: 15px;
                position: relative;
                top: 2px;
                margin-right: 8px;
                border: 2px solid orange;
            }
            .check:checked{
                background-color: orange;
            }
        }
        .hidden{
            display: none;
        }
        .username, .avatar-link{
            background-color: rgb(140, 89, 208);
            height: 35px;
            padding-left: 10px;
            font-size: 14px;
            color: white;
        }
        .comment{
            background-color: rgb(140, 89, 208);
            padding-left: 10px;
            padding-top: 10px;
            font-size: 14px;
            color: white;
            border: none;
        }
        .add-comment{
            background-color: orange;
            color: rgb(34, 0, 79);
            border: none;
            width: 35%;
            height: 40px;
            font-size: 14px;
        }
        .add-comment:active , .add-comment:hover{
            background-color: rgb(147, 114, 55);
        }
    }
}